on fs
    start hwservicemanager
    export ANDROID_ROOT /system_root
    start init_flashlight

on init
    write /proc/sys/kernel/hung_task_timeout_secs 0

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service init_flashlight /system/bin/init_flashlight
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
